Flask==2.3.3
python-dotenv==1.0.0
requests==2.31.0
mysql-connector-python==8.1.0
PyPDF2==3.0.1
python-docx==0.8.11
nltk==3.8.1
Werkzeug==3.0.0
gunicorn
pdfminer.six
lxml
cffi
cryptography

